spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/testdb
    driver-class-name: org.postgresql.Driver
    username: testuser
    password: testpass
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none  # vì schema + dữ liệu đã có trong init.sql
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never   # Docker init.sql đã chạy, Spring không cần chạy lại

jwt:
  secret:
    key: Z3VqQ2VydFNlY3JldEtleU15U3RyaW5nMTIzNDU2Nzg=
  expiration:
    ms: 86400000
